name: Danger Check

on:
  pull_request:

jobs:
  danger:
    runs-on: ubuntu-latest
    
    permissions:
      pull-requests: write
      
    steps:
      - uses: actions/checkout@v4
        
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          
      - run: npm install -D danger
      
      - run: npx danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
